.obrigatorio {
    color:red;
}

input{
    border-radius: 0 !important;
}

nav{
    border-radius: 0 !important;
}
div{
    border-radius: 0 !important;
}

a:link{
    color: white !important;
}





