textarea{
    max-width: 100%;
}
.obrigatorio {
    color: red;
}

input {
    border-radius: 0 !important;
}

nav {
    border-radius: 0 !important;
}

div {
    border-radius: 0 !important;
}

a:link {
    color: white !important;
}
/*MENU*/
.navbar{
    background-color: #0072c6 !important;
    border-color: #0072c6 !important;
   /* box-shadow: 0 4px 2px -2px gray;*/
}

.navbar a {
    color: white !important;
}


.navbar a:hover {
    background-color: #0093ff !important;
    border-color: #0093ff !important;
}

.navbar a:active {
    background-color: #0093ff !important;
    border-color: #0093ff !important;
}

nav button{
    background-color: #0072c6 !important;

}
nav button:hover{
    background-color: white !important;
}

.dropdown-menu a{
    background-color: white !important;

}

/*FIM MENU*/

.dropdown li a{
    color: #0093ff !important;

}
.dropdown li a:hover{
    color: white !important;
}



.navbar .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color:  #0093ff !important;
}

table tr a{
    color: #0093ff !important;
}
table tr a:link{
    color: #0093ff !important;
}




